<a href="https://colab.research.google.com/github/marcosranes/Bootcamp_Python_Pro_Colab/blob/main/Pyramids2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def piramide(num: int):
    for c in range(1, num + 1):
        for _ in range(c):
            print(c, end=' ')
        print()

In [9]:
def piramide2(num: int):
    for c in range(num, 0, -1):
        for c in range(1, c + 1):
            print(c, end=' ')
        print()
#    for c in range(2, num + 1):
#        print(c)

In [8]:
piramide5(9)

                     1
                  2  2
               3  3  3
            4  4  4  4
         5  5  5  5  5
      6  6  6  6  6  6
   7  7  7  7  7  7  7
8  8  8  8  8  8  8  8
9  9  9  9  9  9  9  9

In [89]:
def piramide7(num):
    for c in range(1, num + 1):
        for d in range(num, 0, -1):
            if d > c:
                print(' ', end=' ')
            else:
                print(c, end='   ')
        print('')

In [149]:
def piramide8(num, desloc=0):
#   for c in range(1, num + 1):
    for c in range(num, 0, -1):
        for d in range(num + desloc, 0, -1):
            if d > c:
                print(' ', end=' ')
            else:
                print(c, end='   ')
        print('')

In [165]:
piramide7(9)

piramide8(8, 1)

                1
              2   2
            3   3   3
          4   4   4   4
        5   5   5   5   5
      6   6   6   6   6   6
    7   7   7   7   7   7   7
  8   8   8   8   8   8   8   8
9   9   9   9   9   9   9   9   9
  8   8   8   8   8   8   8   8
    7   7   7   7   7   7   7
      6   6   6   6   6   6
        5   5   5   5   5
          4   4   4   4
            3   3   3
              2   2
                1

In [60]:
def piramide6(num):
    for c in range(1, num + 1):
        for d in range(num, 0, -1):
            if d > c:
                print(' ', end=' ')
            else:
                print(f'{c}', end=' ')
        print('')

In [66]:
piramide(9)
print()
piramide6(9)
print()
piramide2(9)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

                1
              2 2
            3 3 3
          4 4 4 4
        5 5 5 5 5
      6 6 6 6 6 6
    7 7 7 7 7 7 7
  8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
def piramide4(num: int):
    for c in range(num, 0, -1):
        for c in range(1, c + 1):
            print(c, end=' ')
        print()
#    for c in range(2, num + 1):
#        print(c)

In [ ]:
def piramide3(num: int):
    co = num
    for c in range(1, num + 1):
        
        for d in range(c):
            print(f'{c:^{34 - co}}', end=' ')
            co -= 1
        print()

In [4]:
def piramide5(num):
    for c in range(1, num + 1):
        for d in range(num, 1, -1):
            if d - 1 > c:
                print('  ', end=' ')
            else:
                print(c, end='  ')
        print('')

In [5]:
piramide5(9)

                     1
                  2  2
               3  3  3
            4  4  4  4
         5  5  5  5  5
      6  6  6  6  6  6
   7  7  7  7  7  7  7
8  8  8  8  8  8  8  8
9  9  9  9  9  9  9  9

In [7]:
piramide6(9)

              1
            2 2
          3 3 3
        4 4 4 4
      5 5 5 5 5
    6 6 6 6 6 6
  7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9